<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monporfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body id="backgroud">
    <div>
        <nav id="NavBar" class="animated fadeInDown">
            <div class="container">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-4">
                            <nav class="nav-item">
                                <a class="nav-link active" href="#" aria-disabled="true">Step</a>
                            </nav>
                        </div>

                        <div id="EnTete" class="col-6">

                            <a class="nav-link active" href="#" aria-disabled="true"> Home</a>
                            <a class="nav-link active" href="#" aria-disabled="true"> About</a>
                            <a class="nav-link active" href="#" aria-disabled="true"> Service</a>
                            <a class="nav-link active" href="#" aria-disabled="true"> Home</a>
                            <a class="nav-link active" href="#" aria-disabled="true"> About</a>
                            <a class="nav-link active" href="#" aria-disabled="true"> Service</a>


                        </div>
                        <div class="col-2"></div>

                    </div>


                </div>


            </div>
        </nav>
    </div>
    <br><br><br>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark text-white">
                        <img id="CartVisit" src="noir.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title">Bonjour Je suis</h3>
                            <h1> Georges Landry ETHEVE</h1> <br>
                            <p class="card-text">Créateur Application & developpeur Web</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                            <div class="my-btn">
                                <a href="https://thememix.ml/step/#about" class="main-btn know-more">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-image">
                    <img class="img-responsive" src="1397992921789.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-info">
                    <div class="main-title">
                        <h3>About Me</h3>
                        <h2>Who Am I</h2>
                    </div>
                    <p>My name is Razan Smith. I'm a Freelance Full Stack Developer based in New York, USA, and I'm very
                        passionate and dedicated to my work .With 6 years experience as a professional Full Stack
                        Developer, I have acquired the skills necessary to build great and premium websites.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                        labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="skills">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 skills-xs">
                                <div class="skills-inner">
                                    <h4>Html5</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>Css3</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>JavaScript</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 skills-xs">
                                <div class="skills-inner">
                                    <h4>jQuery</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>VueJs</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>Sass</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 skills-xs">
                                <div class="skills-inner">
                                    <h4>Php</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>MySQL</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </p>
                                </div>
                                <div class="skills-inner">
                                    <h4>Laravel</h4>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                        <i class="fa fa-star-o"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://thememix.ml/step/#" class="main-btn">Download CV</a>
                </div>
            </div>
        </div>
    </div>

    <!--
<p> <img src="1397992921789.jpg" alt=""></p>
    -->
    <div class="container">
        <p>
            jQuery nous permet de sélectionner directement un ou plusieurs éléments en utilisant des sélecteurs CSS ou
            des
            pseudo-sélecteurs jQuery. Une fois notre première sélection faite, on va pouvoir l’affiner avec les méthodes
            vues dans la leçon précédente afin de sélectionner plus précisément certains éléments.
            Ce n’est cependant pas la seule façon d’accéder à un élément HTML. Après une sélection initiale, on va
            également
            pouvoir se déplacer dans ou “traverser” le DOM à partir de l’élément sélectionné grâce à un ensemble de
            méthodes
            jQuery.

            Ces méthodes vont pouvoir être divisées en trois grands groupes :

            Celles qui nous permettent d’atteindre l’élément parent ou un ancêtre de l’élément originellement
            sélectionné ;
            Celles qui nous permettent d’atteindre les éléments enfants ou descendants de l’élément originellement
            sélectionné ;
            Celles qui nous permettent d’atteindre des éléments “frères” de l’élément originellement sélectionné,
            c’est-à-dire des éléments qui ont le même parent que cet élément.
            Ces méthodes vont pouvoir s’avérer très utile dans le cas où il est compliqué d’accéder directement à un
            élément
            en particulier.



            Accéder à l’élément parent ou aux ancêtres d’un élément en jQuery
            Les méthodes parent(), parents(), parentsUntil() et closest() vont nous permettre d’accéder aux parent et
            ancêtres d’un élément ou d’une collection d’éléments.

            La méthode parent() nous permet d’accéder à l’élément parent (c’est-à-dire à l’ancêtre direct) d’un premier
            élément sélectionné ou à chaque parent d’un ensemble d’éléments sélectionnés. On va pouvoir lui passer un
            sélecteur en argument qui permettre de filtrer la sélection et de ne retourner le parent d’un élément que si
            celui-ci correspond au sélecteur.


            La méthode parents() permet d’accéder à tous les ancêtres d’un élément ou d’un groupe d’éléments
            sélectionnés.
            Cette méthode va fonctionner de la même manière que parent() et va également accéder un sélecteur en
            argument
            qui va servir de filtre.


            La méthode parentsUntil() permet également d’accéder aux ancêtres d’un élément ou d’un ensemble d’éléments
            jusqu’à l’ancêtre correspondant au sélecteur qu’on va passer en argument de cette méthode.

            Attention ici : l’ancêtre correspondant au sélecteur ne sera pas inclus dans les résultats. Si aucun ancêtre
            ne
            correspond au sélecteur passé ou si aucun argument n’est fourni à parentsUntil(), tous les ancêtres des
            éléments
            seront sélectionnés.

            On va pouvoir passer un sélecteur en second argument de parentsUntil() qui va servir de filtre (les ancêtres
            au
            milieu ne correspondant pas au filtre seront ignorés).


            Finalement, la méthode closest() va nous permettre de sélectionner le premier ancêtre correspondant au
            sélecteur
            qu’on va lui passer en argument. Attention : cette méthode commence sa recherche à partir de l’élément ou
            des
            éléments de la sélection initiale. Cela signifie que si ces éléments correspondent au sélecteur passé en
            argument ils seront sélectionnés.


            En plus de ces 4 méthodes, jQuery met également à notre disposition une méthode offsetParent() qui va nous
            permettre d’accéder au premier ancêtre d’un élément ou d’un ensemble d’élément qui est positionné,
            c’est-à-dire
            qui possède une propriété CSS position avec une valeur différente de static.

            Cette méthode va pouvoir s’avérer très intéressante pour positionner des éléments dans une page ou pour
            créer
            des animations qui vont avoir le comportement attendu.



            Accéder aux enfants ou descendants d’un élément en jQuery
            Les méthodes children() et find() vont nous permettre d’accéder aux enfants et descendants d’un élément ou
            d’une
            collection d’éléments précédemment sélectionnés en jQuery.

            La méthode children() va nous permettre d’accéder aux éléments enfants (descendants directs) d’un ou d’une
            collection d’éléments HTML. On va pouvoir lui passer un sélecteur en argument qui va servir de filtre pour
            nous
            permettre de ne sélectionner que les enfants correspondant au filtre.

            La méthode find() va nous permettre de sélectionner tous les descendants (enfants, petits-enfants, etc.)
            d’un
            élément ou d’une collection d’éléments. Il va falloir passer un sélecteur en argument de cette méthode qui
            va
            servir de filtre pour nous permettre de ne sélectionner que les descendants correspondant au filtre.

            Une astuce ici : pour cibler tous les descendants d’un élément en utilisant find(), il va suffire de lui
            passer
            le sélecteur universel * en argument.




            Accéder aux éléments frères d’un élément en jQuery
            jQuery met également à notre disposition plusieurs méthodes nous permettant de sélectionner les éléments
            frères
            d’un élément ou d’une collection d’éléments. Deux éléments sont “frères” (“siblings” en anglais) si ils
            partagent le même parent (le même ancêtre direct).

            Nous allons ici étudier les méthodes siblings(), next(), nextAll(), nextUntil(), prev(), prevAll() et
            prevUntil().

            La méthode siblings(), tout d’abord, va retourner l’ensemble de éléments frères d’un premier élément
            sélectionné
            ou d’un premier ensemble d’éléments sélectionnés. On va pouvoir passer un sélecteur qui agira comme filtre
            et
            nous permettra de ne récupérer que les éléments frères correspondant à celui-ci en argument de cette
            méthode.


            La méthode next() va nous permettre de récupérer l’élément frère suivant immédiatement l’élément ou
            l’ensemble
            d’éléments précisé. On va également pouvoir lui passer un sélecteur en argument qui agira comme filtre : la
            méthode ne récupèrera le frère suivant que si il correspond au sélecteur.

            La méthode nextAll() va elle nous permettre de récupérer tous les éléments frères suivants un élément ou une
            collection d’éléments. On peut lui passer un sélecteur pour filtrer les résultats en argument.

            La méthode nextUntil() va récupérer tous les éléments frères suivants un élément ou une collection
            d’éléments
            jusqu’à l’élément frère correspondant au sélecteur qu’on va lui passer en argument et sans inclure cet
            élément
            dans les éléments récupérés. On va également pouvoir lui fournir un autre sélecteur en deuxième argument qui
            agira comme filtre.


            Les méthodes prev(), prevAll() et prevUntil() vont fonctionner de manière analogue aux méthodes vues juste
            au
            dessus à la différence qu’elles vont nous permettre de sélectionner les éléments frères précédant un élément
            ou
            une collection d’éléments.


            Précédent
            Suivant
        </p>
    </div>
</body>

</html>