


#voiture{
    position: absolute;
    padding-top: 50px;
}

.roue {
    position: relative;
    top: -251px;
}

.la_rou1{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-left: 55px;
    padding-right: 79px;
}

.roue 
{
	animation: fade 0.1s infinite;
}

@keyframes fade 
{
	0%, 25%	    { transform: rotate(270deg) }
}


/*               -----  ----- ----  ------ ------  ------ ------ -------