<!--  puis je prend mes trois colones
                en divisant 3 sections -->

            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!-- colone 1-->
            <div class="col col-4"
                style="background-image: url(images/image-2-egae-926x1800.jpg); background-size: cover; height: 100vh; ">
                <!-- Mon emplacement logo-->
                <div class="d-flex justify-content-center ">
                    <img src="images/logo.png " style=" background-color: white; width: 30%; height: auto;" alt="">
                </div>
                <!-- fin logo-->
                
                <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                
                <!-- mon animation text pour colone 1-->
                <div class="flex-column d-flex justify-content-center align-items-center" style="color: white;">
                    <h2> gglqlfqlmfl</h2>
                    <hr>
                    <p> Decouvrez notre hiklfqgfl</p>
                </div>
                <div class="d-flex justify-content-center align-items-baseline" style="color: white;">
                    <ul>
                        <li>skdjmdm</li>
                        <li>hfmqhfmq</li>
                        <li>hfqmhfmhfmq</li>
                        <li>mdmqhfmhf</li>
                    </ul>
                </div>
                <!-- fin d'animation-->
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!-- colone 2-->

            <div class="col-4"
                style=" background-image: url(images/image-1-egae-1000x1800.jpg); background-size: cover; height: 100vh;">
                <img alt="">
                    <!-- mon animation text pour colone 2-->
                <div class="row d-flex justify-content-center aling-items-center flex-column">

                    
                    <div class="col mt-5" style="color: white;">
                        <div>
                            <h2> gglqlfqlmfl</h2>
                            <hr>

                        </div>
                    </div>
                    <div class="col" style="color: white;">
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                    </div>
                    <!-- fin d'animation-->
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!--  colone 3-->
            <div class="col-4"
                style="background-image: url(images/Asite_couv21.jpg); background-size: cover; height: 100vh;">
                <div class="row d-flex justify-content-center aling-items-center flex-column">

                        <!-- mon animation text pour colone 3-->
                    <div class="col mt-5 " style="color: white;">
                        <div>
                            <h2> gglqlfqlmfl</h2>
                            <hr>

                        </div>
                    </div>
                    <div class="col align-self-end" style="color: white;">
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                        <p> khqmhfh</p>
                    </div>
                        <!-- fin d'animation-->
                </div>
            </div>
            <!-- foter-->
           <span>
               
           </span>