body {
    
    background:url(fond.png) no-repeat ;
    background-color: black;
    background-size: 100%;
}

#trano {
    background: url(drive-download-20200910T061709Z-001/ensembleFond.png) no-repeat center top;
    width: 90%;
    height: 2296px;
    background-size: 100%;
}
/**#menu {
   display: flex;

}*/
/** mbola jerevena padign sy rehetra voir aussi bordur, etv le bolc, **/
+




























































































































































































































































































































































#menu-1 {
    background: url(drive-download-20200910T061709Z-001/menuTop/CadreMenu.png) no-repeat ;
    width:300px;
    height: 90px;
}
#menu-2 {
    background: url(drive-download-20200910T061709Z-001/menuTop/btnVueGlobale\ MO.png) no-repeat ;
    width: 504px;
    height: 123px;
}
